@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.flexC {
  display: flex;
  flex-direction: column;
}

.flexR {
  display: flex;
  flex-direction: row;
}

body {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
}

.contentf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

.contentp {
  background: transparent;
  width: 100%;
  max-width: 700px;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 5px 7px 15px #000000b3;
  box-sizing: border-box;
}

.label {
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  background-color: black;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px #00000080;

  color: white;

  & label {
    font-size: 15px;
  }
  & span {
    min-height: 100px;
    min-width: 100px;
    font-size: 70px;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (max-width: 600px) {
  .label {
    padding: 10px 15px;
    margin: 5px;
  }

  .label span {
    font-size: 40px;
    min-width: 70px;
    min-height: 60px;
  }

  .label label {
  
    font-size: 12px;
  }

  .contentp {
    max-width: 100%;
    padding: 10px;
  }
}
