@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

@font-face {
  font-family: "Digital";
  src: url(./../fonts/digital-7.regular.ttf);
}


* {
  padding: 0;
  margin: 0;
}

:root {
  --orange-dark-600: #fb8c00;
  --orange-dark-900: #e65100;
  --black: #0f0f0f;
  --white: #f2f2f2;
  --font-style: "Digital";
}

.flexC {
  display: flex;
  flex-direction: column;
}

.flexR {
  display: flex;
  flex-direction: row;
}

body {
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background: black;
  color: var(--orange-dark-900);
  font-family: var(--font-style);
}

header{
  display: flex;
  align-self: flex-start;
  width:100%;
  background-color: rgba(128, 128, 128, 0.219);
  padding: 30px;
  color: var(--white);
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  
  & ul{
    margin-right: 80px;
  }
  & li{
    margin: 0 20px;
    list-style: none;
    font-size: 20px;
    & img{
      width: 20px;
    }
    & svg{
      width: 20px;
      fill: white;
    }
  }
}

.contentf {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;

  & div{
    font-size: 150px;
  }
  
}
